header {
    background-color: #FDEF4A;
    padding: 3px 70px 12px 70px;
  }
 
  header>div:first-child, header>div:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
  }
 
  header>div:first-child>form{
     width: 720px;
     display: flex;
     justify-content: center;
 
  }
 
  header>div:first-child>form>input{
     width: 60%;
  }
 
  header>div:first-child>form>button{
     width: 5%;
  }
 
  header>div:first-child>img:last-child {
    width: 340px;
    height: 39px;
  }
 
  header>div:last-child>div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }