<!-- Cards con Angular Material -->
<div class="contenedorTarjetas">
  <ng-container *ngFor="let datos of datosCard">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{datos.titulo}}</mat-card-title>
          <mat-card-subtitle>${{datos.precio}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="datos.imagen" alt="fotoArticulo">
        <mat-card-content>
          <p>{{datos.comentario}}</p>
          <p>{{datos.tipoEnvio}}</p>
        </mat-card-content>
        <mat-card-actions class="boton">
          <button mat-button (click)="guardarDatos(datos.id)">Comprar</button>
        </mat-card-actions>
      </mat-card>
      <ng-container *ngIf="datos.comprado">
        <div [ngClass]="'compras'">
          <h1>{{datos.titulo}}</h1>
          <p>{{datos.tipoEnvio}}</p>
          <span [style.font-size]="datos.precio>=100 ? 'x-large' : 'medium'">${{datos.precio}}</span>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<!-- FIN Cards con Angular Material -->