<!-- Carousel con mdBootstrap -->
<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100" alt="Sunset Over the City"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100" alt="Canyon at Nigh"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
<!-- FIN Carousel con mdBoostrap -->

<!-- Cards con Angular Material -->
<div class="contenedorTarjetas">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{datosCard[0].titulo}}</mat-card-title>
      <mat-card-subtitle>${{datosCard[0].precio}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="datosCard[0].imagen" alt="Foto de articulo 1">
    <mat-card-content>
      <p>
        Enim ullamco ex culpa laboris voluptate ullamco dolore qui Lorem deserunt laboris amet.
      </p>
    </mat-card-content>
    <mat-card-actions class="botones">
      <button mat-button>Comprar</button>
      <button mat-button>Añadir al Carrito</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{datosCard[1].titulo}}</mat-card-title>
      <mat-card-subtitle>${{datosCard[1].precio}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="datosCard[1].imagen" alt="Foto de articulo 2">
    <mat-card-content>
      <p>
        Consequat deserunt sit quis aliquip aute occaecat non do occaecat ipsum ullamco sit.
      </p>
    </mat-card-content>
    <mat-card-actions class="botones">
      <button mat-button>Comprar</button>
      <button mat-button>Añadir al Carrito</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{datosCard[2].titulo}}</mat-card-title>
      <mat-card-subtitle>${{datosCard[2].precio}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="datosCard[2].imagen" alt="Foto de articulo 3">
    <mat-card-content>
      <p>
        Aute nulla dolore minim eiusmod in Lorem anim aute incididunt aliquip Lorem cillum.
      </p>
    </mat-card-content>
    <mat-card-actions class="botones">
      <button mat-button>Comprar</button>
      <button mat-button>Añadir al Carrito</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{datosCard[3].titulo}}</mat-card-title>
      <mat-card-subtitle>${{datosCard[3].precio}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="datosCard[3].imagen" alt="Foto de articulo 4">
    <mat-card-content>
      <p>
        Enim ullamco ex culpa laboris voluptate ullamco dolore qui Lorem deserunt laboris amet.
      </p>
    </mat-card-content>
    <mat-card-actions class="botones">
      <button mat-button>Comprar</button>
      <button mat-button>Añadir al Carrito</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{datosCard[4].titulo}}</mat-card-title>
      <mat-card-subtitle>${{datosCard[4].precio}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="datosCard[4].imagen" alt="Foto de articulo 5">
    <mat-card-content>
      <p>
        Amet non esse adipisicing minim aliqua cillum laboris dolore.
      </p>
    </mat-card-content>
    <mat-card-actions class="botones">
      <button mat-button>Comprar</button>
      <button mat-button>Añadir al Carrito</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- FIN Cards con Angular Material -->

<router-outlet></router-outlet>
